
:root {
    --green: darkgreen;
    --red: darkred;
    --purple: #6a0dad;
}


html {
    font-size: 10px;
    font-weight: 300;
}

body {
    width: 90%;
    margin: 0 auto;
    background: radial-gradient(#343e63, #2a3352)
}

main {
    text-align: center;
    background: #f8f1e9;
    border: solid var(--green);
    border-width: 8px;
    min-height: 80vh;
    border-radius: 3rem;
    padding: 1rem;
    color: #1f2933;
    margin-top: 10rem;
}

h1 {
    font-size: 2rem;
    margin: 8rem 0;
}

p {
    font-size: 1.8rem;
}

.button-wrapper {
    display: flex;
    flex-direction: column;

}

button {
    border: none;
    cursor: pointer;
    background: skyblue;
    padding: 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 80%;
    margin: 0 auto;
    font-size: x-large;
}
button:first-child {
    background: var(--green);
    margin-bottom: 0.5rem;
}

button:last-child {
    background: var(--red);
    margin-top: 0.5rem;
}



h3 {
    font-size: 2rem;
}

input {
    border: 2px solid var('--purple');
    background: transparent;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 16rem;
    border-radius: 2rem;
}

#range {
    display: flex;
    background: var(--green);
    height: 50px;
    padding: 0;
    margin: 0 0 4rem 0;
    border-radius: 2rem;
}

#rangeOutput {
    font-size: 1.6rem;
}

.stats {
    text-align: left;
    width: 40%;
    font-weight: 800;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info span {
    font-size: 1.6rem;
}

#newGame {
    border-radius: 0;
}

.flash {
    animation: flash 1s infinite;
}

@keyframes flash{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 800px) {
    body {
        width: 60vw;
    }
}